
@{
    ViewBag.Title = "AddAnnouncement";
}

<h2>Add Announcement</h2>
@using (Html.BeginForm())
{
    if(ViewBag.Message !=null)
    {
        <h5>@ViewBag.Message</h5>
    }
    <div class="form-group">
        <h5>HomePage Announcement</h5>
        <div class="col-md-10">
            <textarea style="width:100%;"class="form-control" cols="40" id="Announcement" name="Announcement" rows="4">Announcement</textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Submit Announcement" class="btn btn-default" />
        </div>
    </div>
}

