
@{
    ViewBag.Title = "ManageBlog";

}

<h2>Manage Blog</h2>

<div>
    @Html.ActionLink("Add Blog Post", "AddBlogPost", "Admin")
</div>
<div>
    @Html.ActionLink("View All Blog Posts", "ListBlogPosts", "Admin")
</div>