@{
    ViewBag.Title = "Home Page";
}


@if (ViewBag.Announcement != null)
{
    <div class="row">
        <div class="col-md-10">
            <div class="card text-white bg-primary mb-3" style="width:100%; max-height:300px;">
                <div class="card-header">
                    <h4 class="card-title">Announcements</h4>
                </div>
                <div class="card-body">
                    <p class="card-text">@ViewBag.Announcement</p>
                </div>
            </div>
        </div>
    </div>
}
