
@{
    ViewBag.Title = "VideoPlayer";
}

<h2>VideoPlayer</h2>

<div class="col-sm-8" style="float:left">
    <video style="width:100%" controls>
        <source src="https://www.youtube.com/watch?v=W00vEaxH23A" type="video/mp4" />
    </video>
</div>