<style>





    .loginLinks {
        color: darkgray;
        padding-right:.7em;
    }

</style>
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="list-group">
            <li class="list-group-item list-group-item-dark text-center" style="border-radius:6px;">
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()" style="color:white">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="loginLinks"><a href="@Url.Action("Register","Account")" style="color:white;">Register</a></li>
        <li class="loginLinks"><a href="@Url.Action("Login","Account")" style="color:white;">Log in</a></li>
    </ul>
}
